<div id="<%= dom_id flight %>">
  <p>
    <strong>Departure:</strong>
    <%= flight.departure_airport.code %>
  </p>

  <p>
    <strong>Arrival:</strong>
    <%= flight.arrival_airport.code %>
  </p>

  <p>
    <strong>Flight Start:</strong>
    <%= flight.flightstart.strftime("%d/%m/%Y")%>
  </p>

</div>
