<div id="<%= dom_id flight %>">
  <p>
    <strong>Departure:</strong>
    <%= flight.departure_airport.code %>
  </p>

  <p>
    <strong>Arrival:</strong>
    <%= flight.arrival_airport.code %>
  </p>

  

</div>
