<div id="<%= dom_id booking %>">
  <p>
    <strong>Booked flight:</strong>
    <%= booking.booked_flight_id %>
  </p>
    <div>
      <%= booking.passenger_who_booked&.name %>
       
      <%= booking.passenger_who_booked&.email%>
    </div>
</div>
