<p style="color: green"><%= notice %></p>

<% content_for :title, "Passengers" %>

<h1>Passengers</h1>

<div id="passengers">
  <% @passengers.each do |passenger| %>
    <%= render passenger %>
    <p>
      <%= link_to "Show this passenger", passenger %>
    </p>
  <% end %>
</div>

<%= link_to "New passenger", new_passenger_path %>
